.mainvisual {
  margin-top: 50px;
}

.swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.swiper-slide {
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
}

.swiper-image {
  position: relative;
}

.text-content {
  position: absolute;
  top: 30%;
  right: 7%;
}

.title {
  font-size: 50px;
  line-height: 1.2;
}

.title em {
  color: orange;
}

.desc {
  margin-top: 20px;
}

.orange-text {
  color: orange;
}


.swiper-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation-duration: 1s;
  animation-name: slidein;
  /* animation-iteration-count: infinite; */

}

.swiper-button-prev:after,
.swiper-button-next:after {
  background-color: #0000003d;
  color: #fff;
  padding: 20px 30px;
  border-radius: 50%;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  scale: 0.6;
}

.swiper-pagination-bullet {
  background-color: #000;
  scale: 0.7;
  opacity: 1;
}

/* .swiper-pagination-bullet-active {
  background-color: transparent;
  border: 1px solid #000;
  scale: 1.8;
}
 */
.swiper-pagination-bullet-active {
  /* opacity: var(--swiper-pagination-bullet-opacity, 1); */
  background: #fff;
  border: 1px solid #000;
  scale: 1.8;
}

@keyframes slidein {
  from {
    scale: 1.2;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.mainvisual-button {
  border: none;
  outline: none;
  border: 3px solid #FFA00A;
  background-color: #FFA00A;
  padding: 10px 20px;
  border-radius: 100px;
  color: #fff;
  margin-top: 30px;
  transition: .3s;
  cursor: pointer;

}

.mainvisual-button:after {
  /* content: '/assets/images/chevron-right-solid.svg'; */



}

.mainvisual-button:hover {
  background: none;
  color: #FFA00A;
}