.product-card {
  font-family: 'NotoSansKR';
  font-weight: 400;
  margin-bottom: 20px;
  cursor: pointer;
  margin: 0 auto;
  padding: 10px;
}

.product-image {
  position: relative;
  overflow: hidden;
  height: 300px !important;
}

.product-image img {
  max-width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover !important;
  object-position: center !important;
}

.hover-icons {
  position: absolute;
  bottom: 10px;
  left: 10px;
  transform: .3s;
  display: none;
  vertical-align: middle;
}

.product-card:hover .hover-icons {
  display: block;
}

.hover-icons .icon {
  margin-right: 5px;
  font-size: 20px;
  color: #aaaaaa;

}

.hover-icons .heart-icon.active {
  color: rgb(255, 58, 58);
}

.hover-icons .thumbs-up-icon.active {
  color: rgb(105, 105, 123);
}

.hover-icons .comment-icon.active {
  color: rgb(109, 114, 109);
}

.cart-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #fff;
  border: none;
  font-size: 25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 0 8px rgb(223, 223, 223);
  cursor: pointer;
}

.shopping-cart {
  transform: translateY(3px);
}

/* ############product-info############ */
.product-info {
  margin-top: 15px;
}

.product-name {
  border-bottom: 1px solid #eee;
}

.original-price {
  text-decoration: line-through;
  color: #666;
}

.discounted-price {
  font-size: 20px;
  margin-left: 5px;
  font-weight: bold;
}